.base {
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 40px;
  background-color: #65558f;
  border-radius: 100px;
}

.stateLayer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 24px;
  width: 100%;
  height: 100%;
}

.labelText {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: 0.1px;
  text-align: center;
}
